#header {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f9;
    padding: 20px;
}

#header h2 {
    color: #1e90ff;
    font-size: 40px;
    margin: 0;
    line-height: 1.2;
    text-align: center;
}

#header p {
    font-size: 20px;
    margin: 10px;
}

#p1 {
    text-align: center;
    line-height: 2px;
}
#p3 {
    line-height: 5px;
}
#p5 {
    letter-spacing: 3px;
}