body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.form-container {
    width: 420px;
    margin: 40px auto;
    text-align: center;
}

.form-container h1 {
    color: #1e90ff;
    margin-bottom: 30px;
    font-size: 32px;
}

label {
    display: block;
    margin: 15px 0 8px;
    font-size: 18px;
}

input,
textarea {
    width: 70%;
    padding: 12px;
    font-size: 16px;
    border: 2px solid #1e90ff;
    outline: none;
    box-sizing: border-box;

    display: block;
    margin: 0 auto;
}

textarea {
    resize: none;
}

button {
    margin-top: 25px;
    padding: 10px 30px;
    font-size: 16px;
    background-color: #00bfff;
    color: white;
    border: 2px solid black;
    cursor: pointer;
}

button:hover {
    background-color: #1dc9e0;
}
