body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}
h2 {
    color: #1e90ff;
    line-height: 20px;
}
h1 {
    color:#1e90ff;
}
.introduce{
    background-color:rgb(202, 248, 232);
    margin: 0 auto;
    width: 600px;
}
#explain {
    color:darkgray;
    font-size: 20px;
}
.introduce:hover{
    background-color: #e6f7ff;
}
body{
    text-align: center;
}