body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.title-card {
    background-color :#f4f4f9;
    color: blue;
    width: 900px;
    margin: auto;
    padding: 10px;
}
.facility {
    font-size: 15px;
}
.p1 {
    color: red;
}
.myfacility {
    color: #1e90ff;
    font-size: 30px;
}
.title {
    font-size: 30px;
}
hr {
    width: 55%;
}